### 1. Update no of items available

In [1]:
cars_name = ["Audi", "BMW", "TATA", "Volvo"]
no_of_cars = [10,20,30,5]

for i, j in zip(cars_name, no_of_cars):
    print(f"{i} = {j}")

Audi = 10
BMW = 20
TATA = 30
Volvo = 5

In [3]:
LC = [f"{i} = {j}" for i, j in zip(cars_name, no_of_cars)]

In [4]:
LC

['Audi = 10', 'BMW = 20', 'TATA = 30', 'Volvo = 5']

### 2. You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

In [5]:
L = [2,4,6,10,1]

result = []

for i in L:
    sum = 0
    for j in L:
        if i<=j:
            sum = sum + j
    result.append(sum)

print(result)

[22, 20, 16, 10, 23]

### 3. Find list of common unique items from two list. and show in increasing order

In [8]:
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]

common = []

for i in num1:
    if i in num2:
        if i not in common:
            common.append(i)

print(sorted(common))

[34, 67, 89]