## Higher Order Functions
- map
- filter
- reduce

### map

In [2]:
# square the items of a list
list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [3]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x: 'even' if x%2 == 0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd']

In [10]:
# fetch names from a list of dict
users = [
    {
        'name':'Alex',
        'age':30,
        'gender':'male'
    },
    {
        'name':'Harshal',
        'age':23,
        'gender':'male'
    },
    {
        'name':'max',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['age'], users))

[30, 23, 50]

In [11]:
list(map(lambda users:users['name'], users))

['Alex', 'Harshal', 'max']

## filter

In [6]:
# numbers greater than 2
L = [1,2,3,4,5]
list(filter(lambda x:x>2, L))

[3, 4, 5]

In [7]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

## reduce

In [8]:
# sum of all item
import functools
L = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y, L)

15

In [9]:
# find min
functools.reduce(lambda x,y:x if x<y else y,[23,11,45,10,1])

1